.encabezado--con-filtros
   contenedor()
   h2
    margin-top 10px 
    font-size 50px
    font-family titulos(Fuente2)

.filtros 
    width 250px 
    height 75px
    padding 20px
    padding-left 40px 
    margin-left 0 auto
    border 1px transparent rgba(color-primario,.10)
    caja-sombra()

    span 
      font-family titulos(Fuente2)
    a
      margin-left 20px 
      font-size 25px
      color color-primario